CONFIG_ARM=y
CONFIG_ARCH_APPLE=y
CONFIG_DEFAULT_DEVICE_TREE="t8140-j700"
# CONFIG_OF_UPSTREAM is not set
CONFIG_ENV_SOURCE_FILE="j700"
# CONFIG_ENV_IS_IN_FAT is not set
CONFIG_ENV_IS_NOWHERE=y
CONFIG_SYS_LOAD_ADDR=0x0
CONFIG_BOOTDELAY=-2
CONFIG_BOOTCOMMAND="echo NEO U-BOOT - KEYBOARD TEST; echo Type: echo NEO-KEYBOARD-OK"
# CONFIG_USE_PREBOOT is not set
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_DISPLAY_BOARDINFO_LATE=y
CONFIG_BOARD_LATE_INIT=y
CONFIG_CMD_DM=y
CONFIG_CMD_BOOTEFI_HELLO=y
CONFIG_CMD_SELECT_FONT=y
CONFIG_MISC=y
CONFIG_APPLE_MTP_KEYB=y
CONFIG_NO_NET=y
# CONFIG_MMC is not set
CONFIG_USB_XHCI_HCD=y
CONFIG_VIDEO_SIMPLE=y
CONFIG_VIDEO_FONT_16X32=y
CONFIG_SYS_WHITE_ON_BLACK=y
CONFIG_NO_FB_CLEAR=y
# CONFIG_WATCHDOG is not set
# CONFIG_WATCHDOG_AUTOSTART is not set
